@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "kalameh-black";
    src: url("./fonts/kalameh/Kalameh-Black.ttf");
  }

  @font-face {
    font-family: "kalameh-bold";
    src: url("./fonts/kalameh/Kalameh-Bold.ttf");
  }

  @font-face {
    font-family: "kalameh-regular";
    src: url("./fonts/kalameh/Kalameh-Regular.ttf");
  }
}

@layer components {
  .fdv {
    /* transform: rotateX(90deg) */
  }
  .centering {
    @apply flex items-center justify-center;
  }

  .theme-buttons button {
    @apply centering w-fit p-2 mx-auto mb-2 rounded-md cursor-pointer hover:text-lighter transition-all;
  }

  .line {
    @apply w-0.5 h-24 bg-blueText rounded-md mx-auto my-2;
  }

  .pagination-buttons svg {
    @apply border border-blueText text-blueText hover:text-white hover:bg-blueText duration-150 cursor-pointer rounded-lg p-1.5 size-9 my-1;
  }

  .loader {
    @apply w-1/2 bg-darkBox fixed top-0 bottom-0 my-auto border-[#ffffff44] z-10;
  }

  .main-pages-container {
    @apply absolute bg-white dark:bg-darkBox rounded-xl p-3 w-full h-full;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .scroll-container div::-webkit-scrollbar {
    width: 3px;
  }
  
  .scroll-container div::-webkit-scrollbar-track {
    @apply m-5 p-4 bg-darkBox2 rounded-lg 
  }
  
  .scroll-container div::-webkit-scrollbar-thumb {
    @apply bg-blueText rounded-lg
}

}
